@import "partials/setup";
@import "partials/variables";
@import "partials/mixins";

/* =====General===== */
html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

.wrapper {
	max-width: 117.0rem;
	margin: 0 auto;
	width: 80%;
}

section {
	padding: 10rem 0;
}

p {
	font-size: 1.8rem;
}

/* =====Headers===== */
h1 {
	font-family: $pt;
	color: rgb(217,217,217);
	font-weight: 400;
	font-size: 3rem;
}

h2 {
	color: #fff;
	font-size: 3.2rem;
}

h4 {
	color: $green;
	font-size: 1.6rem;
	font-weight: 700;
	font-family: $robot;
}

/* =====Navigations===== */
ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 1.2rem;
	font-family: $pt;
	text-transform: uppercase;
	display: inline-block;
	transition: all .3s ease;
}

/* =====Flex===== */
.col-md {
  width: calc(50% - 20px);
}

.col-sm {
	width: calc(25% - 20px);
}

/* =====Header===== */
header {
	background: url(../assets/hero.jpg) center no-repeat;
	background-size: cover;
	padding-top: 2.9rem;
}

header a {
	font-weight: 400;
}

header .wrapper {
	display: flex;
	flex-direction: column;
}

.headerLogo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerNav {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	ul {
		display: flex;
		position: relative;
	}
		a {
			padding-right: 1.2rem;
			&:hover {
				color: $green;
			}
		} 
} 

.headerButton {
	font-weight: 400;
	border: 2px solid #fff;
	background-color: rgba(255, 255, 255, 0);
	width: 8.6rem;
	height: 2.9rem;
	padding-left: 1rem;
	margin-left: 2.5rem;
	margin-top: -0.7rem;
	align-self: flex-start;
	position: relative;
	&:hover {
		background: maroon;
		color: #fff;
	}
}

.headerContent {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 32rem;
	padding-bottom: 32rem;
}

.subscribe, .episodeJustin {
	flex-basis: 45%;
}

.subscribe {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

span, .subscribe p {
	color:#fff;
}

.subscribe p {
	font-size: 2.4rem;
	padding-top: 3.6rem;
}

.subscribe p:after {
	content: '';
	width: 43.4rem;
	height: 0.2rem;
	background-color: rgba(255, 255, 255, 0.3);
}

.subscribe .thinLine {
	margin-top: 4rem;
}

.subscribeFlex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.iconBar {
		margin-top: 5.2rem;
		color:  #fff;
		font-size: 2.4rem;
		font-weight: 400;
		flex-basis: 60%;
		align-self: center;
	}
	i {
		padding-right: 1rem;
	}
}


.subscribe button {
	background-color: $green;
	color: #fff;
	font-weight: 600;
	font-family: $robot;
	text-align: center;
	font-size: 1.4rem;
	text-transform: uppercase;
	width: 15.3rem;
	height: 5.4rem;
	border-radius: 3rem;
	border: none;
	margin-top: 5.2rem;
	flex-basis: 30%;
}

.episodeJustin {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: left;
}

.episodeJustin h2 {
	text-transform: uppercase;
	font-weight: 400;
	padding-top: 3.3rem;
}

.episodeJustin h3 {
	font-family: $robot;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
	padding-top: 2.9rem;
}

.episodeJustin h5 {
	color: $green;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 3.2rem;
	padding-top: 3.6rem;
	&:before {
	font-family: 'FontAwesome';
	content:"\f04b";
	color: $green;
	padding-right: 1rem;
	}
}

.episodeJustin p {
	font-family: $robot;
	color:  #fff;
	font-weight: 400;
	line-height: 2.8rem;
	padding-top: 3.6rem;
}

/* Lines  */
.superThinLine {
	background-color:  rgba(26, 23, 26, 0);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.08);
	width: 100%;
	height: 1px;
	padding-top: 1rem;
}

.thinLine {
	border-radius: 1px;
	background-color:  rgba(255, 255, 255, 0.2);
	width: 47rem;
	height: 0.3rem;
}

.thickLine {
	height: 1.2rem;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
}

.footerLine {
	background-color:  rgba(255, 255, 255, 0.2);
	width: 100%;
	height: 0.4rem;
	margin-bottom: 2.1rem;
}

.footerLine__thin {
	background-color:  rgba(255, 255, 255, 0.08);
	width: 100%;
	height: 0.1rem;
}

/* =====Player===== */
.player {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.97);
	color: $green;
}

.playerMenu {
	display: flex;
	font-size: 1.4rem;
	justify-content: center;
	align-items: center; 
	position: relative;
	img:first-child {
		margin-right: 4rem;
	}
	img:last-child {
		margin-left: 4rem;
	}
	p, div {
		margin-right: 2rem;
	}
}

/* =====Episodes===== */
.episodes {
	background-color: #130F13;
	text-transform: uppercase;
}

.browse {
	font-family: $pt;
	color: #fff;
	font-weight: 400;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.browse p:first-child {
	font-size: 2.1rem;
}

.browse p:last-child {
	font-size: 1.4rem;
	border-bottom: 4px solid transparent;
	align-self: flex-end;
	margin-right: 30rem;
	&:hover {
	border-bottom: 4px solid $green;
	}
}

/* =====Gallery===== */
.galleryFlex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top:6rem;
}

.gallery li:nth-of-type(1n + 3) {
	padding-top: 3rem;
	padding-bottom: 3rem;
} 

.gallery {
	figure {
		position: relative;
	}
		figcaption {
			text-align: left;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			padding: 5%;
		}
} 

.seasons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 3.6rem;
} 

.seasons h4:last-child::before {
	font-family: 'FontAwesome';
	content:"\f017";
	color: $green;
	padding-right: 1rem;
}

.galleryFlex h3 {
	font-family: $robot;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
}

.galleryFlex h5 {
	color: $green;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 3.2rem;
	&:before {
		font-family: 'FontAwesome';
		content:"\f04b";
		color: $green;
		padding-right: 1rem;
	}
}

.episodes button {
	border:none;
	background-color:  rgba(255, 255, 255, 0.13);
	color: #fff;
	height: 4.8rem;
	margin: 0 auto;
	text-transform: uppercase;
	width: 100%;
	&:hover {
		background: $green;
		color: #fff;
	}
}

/* =====About us===== */
.aboutUs__top, .aboutUs__bottom {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 8rem;
	i {
		font-size: 2.4rem;
		padding-top: 2rem;
	}
} 

.aboutUs h2 {
	font-family: $pt;
	font-size: 3.2rem;
	color:  #1a171a;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
}

.aboutUs h4 {
	font-family: $robot;
	color: #1a171a;
	text-transform: uppercase;
	position: relative;
	padding-top: 2rem;
	padding-bottom: 2rem;
	&:before {
		content: '';
		width:43.1rem;
		height:1.2rem;
		background-color:  rgba(26, 23, 26, 0.08);
		position: absolute;
		border-radius: 2.5rem;
		left: 11%;
		top: -8rem;
	}
}

.aboutUs p {
	color: rgba(26, 23, 26, 0.5607840000000001);
	font-family: $robot;
}

.aboutUs__top__left {
	flex-basis: 45%;
}

.aboutUs__top__right {
	text-align: right;
	flex-basis: 45%;
	h2 {
		font-size: 4.8rem;
		color: $green;
		text-align: right;
	}
}

.aboutUs__bottom__left {
	text-align: left;
	flex-basis: 45%;
	h2 {
		font-size: 4.8rem;
		text-align: left;
		color: $green;
	}
	h4:before {
		left:-0.2%;
	}
}

.aboutUs__bottom__right {
	flex-basis: 45%;
}

/* =====Support===== */
.support {
	background-color: $green; 
	text-align: center;
}

.supportShow {
	font-family: $pt;
	position: relative;
}

.supportShow h2 {
	font-size: 3.6rem;
	font-weight: 700;
	text-transform: uppercase;
}


.supportWrapper {
	width: 70%;
	margin: 0 auto;
	text-align: justify;
	position: absolute;
	top: 30%;
	left: 16%;
}	

.support span {
	font-weight: bold;
	font-style: italic;
}

.supportShow p {
	font-family: $pt;
	color: #fff;
	font-size: 2.2rem;
	font-weight: 400;
}

.supportButton {
	text-transform: uppercase;
	background-color:  #fff;
	width: 21.7rem;
	height: 5.4rem;
	font-family: $pt;
	color:  #1a171a;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 3.2rem;
	border: none;
	border-radius: 2.5rem;
	margin: 0 auto;
	margin-top: 4.8rem;
	&:hover {
		background-color: black;
		color: #fff;
	}
}

/* =====Footer===== */
footer {
	background-color: #130F13;
	padding-top: 7.7rem;
	h3 {
		font-family: $pt;
		color: #fff;
		font-size: 1.8rem;
		font-weight: 400;
		text-align: left;
		text-transform: uppercase;
	}
}

.footerFlex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

footer .col-sm {
	display: flex;
	flex-direction: column;
	text-align: left;
}

footer h3 {
	font-family: $pt;
	color:  #fff;
	font-size: 1.8rem;
	font-weight: 400;

	padding-bottom: 3.8rem;
}

footer h4 {
	color: rgba(255, 255, 255, 0.760784);
	text-size: 1.6rem;
}


footer li {
	font-family: $robot;
	color:  rgba(255, 255, 255, 0.760784);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 3.6rem;
}

footer ul {
	display:flex;
	flex-direction: column;
}

.archives span {
	color: rgb(159, 159, 159);
	}

.latestNews, .followUs {
	text-transform: uppercase;
} 

.latestNews {
	text-size: 1.4rem;
 	span {
	color: rgb(159, 159, 159);
	font-size: 1.6rem;
	}
	p {
		padding-top: 1rem;
	}
	.footerLine__thin {
		margin-top: 2.3rem;
		margin-bottom: 2.3rem; 
		}
	} 

.footerLine__thin__last {
	background-color:  rgba(255, 255, 255, 0.08);
	width: 100%;
	height: 0.1rem;
	margin-top: 2.3rem;
	margin-bottom: 0;
}

.followUs__descriptions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.followUs__descriptions {
	h3 {
		font-family: $pt;
		color:  $green;
		font-size: 1.8rem;
		font-weight: 700;
		text-align: left;
		padding-bottom: 1rem;
		}
	p {
		font-family: $robot;
		color:  #7f7e7f;
		font-size: 1.2rem;
		font-weight: 700;
		text-align: left;
	}
}

.followIcons {
	color:  #c8c8c8;
	font-size: 2.4rem;
	font-weight: 400;
	text-align: right;
}

.followUs .footerLine__thin {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

footer .superThinLine {
	margin-top: 10rem;
	margin-bottom: 5rem;
}

.footerLogo {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 2rem;
}

.subfooter {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.subfooter .iconbar {
	color: rgba(255, 255, 255, 0.5607840000000001);
	font-size: 2.4rem;
	font-weight: 400;
	text-align: center;
}

.footerNav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}	a {
	padding-right: 1rem;
	&:hover {
		color:$green;
	}
}

.copyright {
	display: flex;
	font-family: $robot;
	color:  rgba(255, 255, 255, 0.5607840000000001);
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2.4rem;
	text-align: center;
	justify-content: center;
	align-items: center;
}

/* =====Media Queries===== */

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	.headerContent {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.subscribe, .episodeJustin {
		flex-basis: 29%;
	}

	section {
		padding: 6rem 0;
	}

	.galleryFlex {
		h2 {
			font-size: 2.2rem;
		}
	}

.aboutUs__top__right h4:before {
	transform: translateX(-31%);
}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.subscribe, .episodeJustin {
		flex-basis: 78%;
	}
	
	.thickLine {
		margin-top: 0;
	}

	.episodeJustin .thickLine {
		margin-top: 4rem;
	}

	.galleryFlex h2 {
	    font-size: 1rem;
	}

	.aboutUs__top__right h2 {
		padding-bottom: 9rem;
	}

	.aboutUs h4:before {
		width: 25.1rem;
	}

	.aboutUs__top__right h4:before {
		transform: translateX(-5%);
	}
}
	.supportButton {
		margin-top: 15.8rem;
	}

	footer .superThinLine {
		margin-top: 6rem;
	}


/* Landscape phones and down */
@media (max-width: 480px) {
	.headerNav {
		flex-direction: column;
		align-items: center;
	}

	.headerButton {
		align-self: center;
		margin-top: 2rem;
		margin-right: 3.5rem;
	}

	.headerContent {
		padding-top: 5rem;
		padding-bottom: 5rem;
		text-align: center;
	}
	
	.playerMenu p {
		font-size: 0.8rem;
	}

	.subscribe {
		width: 90%;
	}	

	.thinLine {
		width: 37rem;
	}

	.thickLine {
		margin-top: 3rem;
	}

	.episodeJustin {
		margin: 0 auto;
	}	h2 {
		font-size: 2.2rem;
	}

	.subscribeFlex {
		width: 100%;
	}

	.browse {
		margin: 0 auto;
	}

	.col-md {
		width: 90%;
		margin-bottom: 10%;
	}

	.seasons {
		padding-top: 1rem;
	}
	
	.galleryFlex {
		h2 {
			font-size: 2rem;
		}
	}

	.gallery figcaption {
		top: -42px;
	}

	.episodes button {
		width: 85%;
	}

	.aboutUs h2 {
		text-align: center;
	}

	.aboutUs__top, .aboutUs__bottom {
	flex-direction: column;
	}

	.aboutUs h4:before {
		transform: translateX(-7%);
	}	 

	.aboutUs__top__right h4:before {
		transform: translateX(-18%);
	}

	.supportShow p {
		font-size: 1.5rem;
	}

	.supportShow h2 {
		margin-bottom: 6rem;
	}

	.supportButton {
	margin-top: 7.8rem;
	}

	.footerFlex {
		flex-direction: column;
		align-items: center;
	}

	footer .col-sm {
		width: 90%;
	}

	.subfooter {
		flex-direction: column;
		align-items: center;
	}
}
